
@using seyahatSitesiMVC.Models.siniflar
@model List<blog>

<div class="padding1">
    <h4>EN SEVDİĞİM YERLER</h4>
    <div class="box-left">

        @foreach (var x in Model)
        {
            <div class="bot-img">
                <img src="@x.BlogImage" alt="" />
            </div>
            <div class="bot-desc">
                <p>@x.Aciklama.Substring(0,50)</p>
            </div>

            <div class="clear"></div>
        }

    </div>

    @Html.Action("partial5","Default")
</div>
